body {
    padding-top: 5em;
    font-size: 1.2em;
    line-height: 1.5;
    color: #323F48;
    background-color: white;
}

.content-px {
    padding-left: 10%;
    padding-right: 10%;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: .5em;
}
/* Links */
a {
    text-decoration: none;
    font-weight: 500;
    color: #008800;
}

a:hover {
    text-decoration: underline;
}

.nav-link a {
    text-decoration: none;
    font-weight: 500;
    color: #323F48;
}

.nav-link a:hover {
    text-decoration: none;
    color: #008800;
}

.bg-gray {
    background: #F3F3F3;
}

.bg-white {
    background: white;
}

.text-green {
    color: #008800;
}

/* Custom button */
button {
    background: #008800;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 0.3em 0.6em;
}

button:hover {
    background: #008800;
    color: white;
}

.custom-pagination .page-link {
    color: #008800;
    background-color: #D1E6DD;
    border-color: #008800;
  }

.custom-pagination .active .page-link {
    background-color: #008800;
    border-color: #008800;
    color: white;
  }
