body {
    padding-top: 5em;
    font-size: 1.2em;
    line-height: 1.5;
    color: #323F48;
    background-color: white;
}

.content-px {
    padding-left: 10%;
    padding-right: 10%;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

/* Links */
a {
    text-decoration: none;
    font-weight: 500;
    color: #323F48;
}

a:hover {
    color: #008800;
}

.author-link a {
    color: #008800;
}

.author-link a:hover {
    text-decoration: underline;
}

.bg-gray {
    background: #F3F3F3;
}

.bg-white {
    background: white;
}

.text-green {
    color: #008800;
}

/* Table of Contents */
.toc {
    border: 1px solid #dfe4ea;
    border-radius: 0px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.toc ul li {
    padding: .25em;
}

.toc ul {
    font-size: 1em;
    margin: .2em;
}

.toctitle {
    font-size: 1.1em;
    font-weight: 500;
    margin: 1em;
}

.toc a {
    color: #008800;
}

.toc a:hover {
    text-decoration: underline;
}

.custom-button {
    background: #008800;
    color: white;
    border-radius: 5px;
}

.custom-button:hover {
    background: #008800;
    color: white;
}